/* Start Variables */
:root {
  --main-color: #2196f3;
  --main-color-alt: #145f9c;
  --text-color: #777;
  --section-background: #ececec;
  --border-color: #e6e6e7;
  --fill-background: #fafafa;
  --section-padding: 100px;
  --duration: 0.3s;
}
/* End Variables */

/* Start Global Rules */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Cairo", sans-serif;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
/* Small Screen */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
/* Medium Screen */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
/* Large Screen */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
/* End Global Rules */

/* === Start Components === */
/* main-title */
.main-title {
  width: fit-content;
  margin: 0 auto 70px;
  padding: 10px 20px;
  border: 2px solid black;
  text-transform: uppercase;
  transition: var(--duration);
  position: relative;
}
.main-title:hover {
  color: white;
  border: 2px solid white;
  transition-delay: 0.5s;
}
.main-title::before,
.main-title::after {
  content: "";
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: var(--main-color);
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  transition: calc(var(--duration) + 0.3s);
}
.main-title::before {
  left: -40px;
}
.main-title::after {
  right: -40px;
}
.main-title:hover::before {
  animation: left-move 0.5s linear forwards;
  z-index: -1;
}
@keyframes left-move {
  50% {
    left: 0;
    width: 15px;
    height: 15px;
  }
  100% {
    left: 0;
    border-radius: 0;
    width: 50%;
    height: 100%;
  }
}
.main-title:hover::after {
  z-index: -1;
  animation: right-move 0.5s linear forwards;
}
@keyframes right-move {
  50% {
    right: 0;
    width: 15px;
    height: 15px;
  }
  100% {
    right: 0;
    border-radius: 0;
    width: 50%;
    height: 100%;
  }
}
/* Spikes */
.spikes {
  position: relative;
  background: var(--section-background);
  height: 25vh;
}
.spikes::after {
  content: "";
  position: absolute;
  right: 0;
  left: -0%;
  bottom: 100%;
  z-index: 10;
  display: block;
  height: 30px;
  background-size: 30px 100%;
  background-image: linear-gradient(
      -45deg,
      var(--section-background) 25%,
      transparent 25%
    ),
    linear-gradient(45deg, var(--section-background) 25%, transparent 25%);
  background-position: 0 0;
}
/* === End Components === */

/* Start Header */
header {
  background-color: white;
  position: relative;
  box-shadow: 0px 0px 10px #ddd;
}
header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
@media (max-width: 767px) {
  header .container {
    flex-direction: column;
  }
}
header .container > a {
  color: var(--main-color);
  font-size: 26px;
  font-weight: bold;
  height: 70px;
  display: flex;
  align-items: center;
}
@media (max-width: 767px) {
  header .container > a {
    height: 45px;
  }
}
header .main-nav {
  display: flex;
}
header .main-nav > li > a {
  display: flex;
  align-items: center;
  padding: 0 30px;
  height: 70px;
  font-size: 18px;
  color: black;
  text-transform: capitalize;
  transition: var(--duration);
  position: relative;
  overflow: hidden;
}
@media (max-width: 767px) {
  header .main-nav > li > a {
    height: 40px;
    padding: 0 10px;
    font-size: 14px;
  }
}
header .main-nav > li > a::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 3px;
  top: 0;
  left: -100%;
  background-color: var(--main-color);
  transition: var(--duration);
}
header .main-nav > li > a:hover {
  background-color: var(--fill-background);
  color: var(--main-color);
}
header .main-nav > li > a:hover::before {
  left: 0;
}
/* Start Mega Menu */
header .mega-menu {
  position: absolute;
  width: 100%;
  left: 0;
  padding: 30px;
  display: flex;
  justify-content: space-between;
  gap: 40px;
  top: calc(100% + 70px);
  background-color: white;
  z-index: -1;
  border-bottom: 3px solid var(--main-color);
  opacity: 0;
  transition: top var(--duration), opacity var(--duration);
}
header .main-nav > li:last-child:hover .mega-menu {
  top: calc(100% + 1px);
  opacity: 1;
  z-index: 1;
}
@media (max-width: 767px) {
  header .mega-menu {
    flex-direction: column;
    gap: 0;
  }
}
header .mega-menu > div {
  width: 40%;
  display: flex;
  align-items: center;
}
header .mega-menu > div img {
  max-width: 100%;
}
@media (max-width: 991px) {
  header .main-nav .mega-menu > div {
    display: none;
  }
}
header .mega-menu .links {
  flex: 1;
}
header .mega-menu a {
  display: block;
  padding: 15px;
  font-size: 18px;
  color: var(--main-color);
  text-transform: capitalize;
  font-weight: bold;
  transition: var(--duration);
  position: relative;
  overflow: hidden;
}
header .mega-menu a::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  left: -100%;
  top: 0;
  background-color: var(--fill-background);
  transition: var(--duration);
  z-index: -1;
}
header .mega-menu a:hover:before {
  left: 0;
}
header .mega-menu .links li:not(:last-child) {
  border-bottom: 1px solid var(--border-color);
}
@media (max-width: 767px) {
  header .mega-menu .links:first-of-type li:last-child {
    border-bottom: 1px solid var(--border-color);
  }
}
header .mega-menu .links li i {
  padding-right: 15px;
}
/* End Mega Menu */
/* End Header */

/* Start Landing Page */
.landing {
  position: relative;
}
.landing::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: var(--section-background);
  z-index: -1;
  transform: skewY(-6deg);
  transform-origin: top left;
}
.landing .container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 70px);
  padding-bottom: var(--section-padding);
}
.landing .text h1 {
  font-size: 34px;
  letter-spacing: -2px;
  margin: 10px auto;
}
.landing .text span {
  padding: 3px 5px;
  position: relative;
}
.landing .text span::after {
  content: "";
  position: absolute;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--main-color);
  z-index: -1;
  transition: 1s;
  opacity: 0;
}
.landing .text:hover ::after {
  width: 100%;
  height: 100%;
  border-radius: 6px;
  opacity: 1;
}
.landing .text:hover span {
  color: white;
  transition-delay: 0.75s;
}
@media (max-width: 767px) {
  .landing .text h1 {
    font-size: 28px;
    text-align: center;
  }
}
.landing .text p {
  font-size: 20px;
  line-height: 1.4;
}
@media (max-width: 767px) {
  .landing .text p {
    text-align: center;
    font-size: 18px;
  }
}
.landing .container img {
  width: 50%;
  animation: up-down 2s infinite linear alternate;
}
@keyframes up-down {
  to {
    transform: translateY(-20px);
  }
}
@media (max-width: 767px) {
  .landing .container img {
    display: none;
  }
}
.landing .button-down {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  color: var(--main-color);
}
.landing .button-down i:hover {
  color: white;
  background-color: var(--main-color);
  border-radius: 50%;
  padding: 10px;
}
.landing .button-down i {
  animation: bouncing 1.5s infinite;
}
@keyframes bouncing {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}
/* End Landing Page */

/* Start Articles */
article {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
}
article .container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 30px;
}
article .box {
  box-shadow: 0 2px 15px rgb(0 0 0 / 10%);
  background-color: white;
  border-radius: 8px;
  overflow: hidden;
  transition: var(--duration);
}
article .box:hover {
  box-shadow: 0 2px 15px rgb(0 0 0 / 20%);
  transform: translateY(-10px);
}
article .box img {
  width: 100%;
  transition: var(--duration);
  filter: grayscale(1);
}
article .box:hover img {
  transform: scale(1.1);
  filter: grayscale(0);
}
article .box .text {
  padding: 20px;
}
article .box p {
  margin: 10px 0;
  line-height: 1.5;
  color: var(--text-color);
}
article .box .read-more {
  padding-top: 20px;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
article .box .read-more::before {
  content: "";
  width: calc(100% + 40px);
  height: 1px;
  background-color: var(--border-color);
  position: absolute;
  top: 0;
  left: -20px;
}
article .box .read-more a {
  color: var(--main-color);
  font-weight: bold;
}
article .box .read-more i {
  color: var(--main-color);
}
article .box:hover .read-more i {
  animation: arrow-move 0.8s linear infinite;
}
@keyframes arrow-move {
  to {
    transform: translateX(10px);
  }
}
/* End Articles */
