/* Start Variables */
:root {
  --main-color: #2196f3;
  --main-color-alt: #145f9c;
  --section-padding: 100px;
  --duration: 0.3s;
}
/* End Variables */

/* Start Global Rules */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Cairo", sans-serif;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
/* Small Screen */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
/* Medium Screen */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
/* Large Screen */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
/* End Global Rules */

/* Start Header */
header {
  background-color: white;
  position: relative;
  box-shadow: 0px 0px 10px #ddd;
}
header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
@media (max-width: 767px) {
  header .container {
    flex-direction: column;
  }
}
header .container > a {
  color: var(--main-color);
  font-size: 26px;
  font-weight: bold;
  height: 70px;
  display: flex;
  align-items: center;
}
@media (max-width: 767px) {
  header .container > a {
    height: 45px;
  }
}
header .main-nav {
  display: flex;
}
header .main-nav > li > a {
  display: flex;
  align-items: center;
  padding: 0 30px;
  height: 70px;
  font-size: 18px;
  color: black;
  text-transform: capitalize;
  transition: var(--duration);
  position: relative;
  overflow: hidden;
}
@media (max-width: 767px) {
  header .main-nav > li > a {
    height: 40px;
    padding: 0 10px;
    font-size: 14px;
  }
}
header .main-nav > li > a::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 3px;
  top: 0;
  left: -100%;
  background-color: var(--main-color);
  transition: var(--duration);
}
header .main-nav > li > a:hover {
  background-color: #fafafa;
  color: var(--main-color);
}
header .main-nav > li > a:hover::before {
  left: 0;
}
/* Start Mega Menu */
header .mega-menu {
  position: absolute;
  width: 100%;
  left: 0;
  padding: 30px;
  display: flex;
  justify-content: space-between;
  gap: 40px;
  top: calc(100% + 70px);
  background-color: white;
  z-index: -1;
  border-bottom: 3px solid var(--main-color);
  opacity: 0;
  transition: top var(--duration), opacity var(--duration);
}
header .main-nav > li:last-child:hover .mega-menu {
  top: calc(100% + 1px);
  opacity: 1;
  z-index: 1;
}
@media (max-width: 767px) {
  header .mega-menu {
    flex-direction: column;
    gap: 0;
  }
}
header .mega-menu > div {
  width: 40%;
  display: flex;
  align-items: center;
}
header .mega-menu > div img {
  max-width: 100%;
}
@media (max-width: 991px) {
  header .main-nav .mega-menu > div {
    display: none;
  }
}
header .mega-menu .links {
  flex: 1;
}
header .mega-menu a {
  display: block;
  padding: 15px;
  font-size: 18px;
  color: var(--main-color);
  text-transform: capitalize;
  font-weight: bold;
  transition: var(--duration);
  position: relative;
  overflow: hidden;
}
header .mega-menu a::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  left: -100%;
  top: 0;
  background-color: #fafafa;
  transition: var(--duration);
  z-index: -1;
}
header .mega-menu a:hover:before {
  left: 0;
}
header .mega-menu .links li:not(:last-child) {
  border-bottom: 1px solid #eee;
}
@media (max-width: 767px) {
  header .mega-menu .links:first-of-type li:last-child {
    border-bottom: 1px solid #eee;
  }
}
header .mega-menu .links li i {
  padding-right: 15px;
}
/* End Mega Menu */
/* End Header */

/* Start Landing Page */
.landing {
  position: relative;
}
.landing::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #ececec;
  z-index: -1;
  transform: skewY(-6deg);
  transform-origin: top left;
}
.landing .container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 70px);
  padding-bottom: var(--section-padding);
}
.landing .text h1 {
  font-size: 34px;
  letter-spacing: -2px;
  margin: 10px auto;
}
.landing .text:hover span {
  color: var(--main-color);
}
@media (max-width: 767px) {
  .landing .text h1 {
    font-size: 28px;
    text-align: center;
  }
}
.landing .text p {
  font-size: 20px;
  line-height: 1.4;
}
@media (max-width: 767px) {
  .landing .text p {
    text-align: center;
    font-size: 18px;
  }
}
.landing .container img {
  width: 50%;
  animation: up-down 3s infinite linear alternate;
}
@keyframes up-down {
  to {
    transform: translateY(-20px);
  }
}
@media (max-width: 767px) {
  .landing .container img {
    display: none;
  }
}
.landing .button-down {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  color: var(--main-color);
}
.landing .button-down i:hover {
  color: white;
  background-color: var(--main-color);
  border-radius: 50%;
  padding: 10px;
}
.landing .button-down i {
  animation: bouncing 1.5s infinite;
}
@keyframes bouncing {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}
/* End Landing Page */
